<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrms.mapper.AdminMapper">
    <sql id="table_name">tbl_admin</sql>
    <sql id="select_fields">
      admin_id, admin_name, admin_password
    </sql>
   

    <select id="selectOneById" parameterType="java.lang.Integer" resultType="com.hrms.bean.Admin">
        SELECT
        admin_id adminId, admin_name adminName, admin_password adminPassword
        FROM
        <include refid="table_name"/>
        WHERE
        admin_id = #{adminId}
    </select>
    
    
    <select id="selectOneByName" parameterType="String" resultType="com.hrms.bean.Admin">
        SELECT
        admin_id adminId, admin_name adminName, admin_password adminPassword
        FROM
        <include refid="table_name"/>
        WHERE
        admin_name = #{adminName}
    </select>


    <select id="selectByLimitAndOffset" resultType="com.hrms.bean.Admin">
        SELECT
         admin_id adminId, admin_name adminName, admin_password adminPassword
        FROM
        <include refid="table_name"/>
        LIMIT #{offset}, #{limit}
    </select>

    <update id="updateOneById" parameterType="com.hrms.bean.Admin">
        UPDATE
        <include refid="table_name"/>
        SET
        admin_password = #{admin.adminPassword, jdbcType = VARCHAR}
        WHERE
        admin_id = #{adminId, jdbcType = INTEGER}
    </update>
    
    <update id="updateOneByName" parameterType="com.hrms.bean.Admin">
        UPDATE
        <include refid="table_name"/>
        SET
        admin_password = #{admin.adminPassword, jdbcType = VARCHAR}
        WHERE
        admin_name = #{adminName, jdbcType = VARCHAR}
    </update>
</mapper>